[core]
    editor = vim
    fileMode = false
[http]
    proxy = http://proxy-chain.intel.com:911
[https]
    proxy = http://proxy-chain.intel.com:912
[push]
    default = simple
[user]
    name = Nikita Ponomarev
    email = nikita.ponomarev@intel.com
